/* ==========================================================================
   #PAGE
   ========================================================================== */


html {
  font-size: $font-size; /* [1] */
  line-height: $line-height; /* [1] */
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
  color: $color-text;
  background-color: $color-base-background;
  font-family: $font-family;
}
